extends layouts/_default
block content
  .container-fluid(style="margin:0px;padding:0px;")
    <!-- inject:content -->
    <!-- endinject -->

block scripts
  script(src="scripts/menu-highlight.js")
  script(src="scripts/github.js")
  script(src="scripts/image-zoom.js")
  <!-- inject:scripts -->
  <!-- endinject -->
