a(href="http://telepat.io" title="Telepat Real-Time Backend")
  .telepat-logo(data-height="70" data-stroke-color="#000000")
script(type="text/javascript" src="http://telepat.io/js/telepat-logo.js")

ul.sidebar-nav.first
  li
    a#alpha-menu.alpha(href="/") Introduction
  li
    a#beta-menu.beta(href="/intro.html") Getting started
  li
    a#gamma-menu.gamma(href="/api.html") 
      | API reference 
      span.label.label-warning(style="color: black") preview
  li
    a#delta-menu.delta(href="/js-sdk.html") JS SDK reference