a(href="http://telepat.io" title="Telepat Real-Time Backend")
  .telepat-logo(data-height="60" data-stroke-color="#000000")
script(type="text/javascript" src="http://telepat.io/js/telepat-logo.js")

ul.sidebar-nav.first
  li
    a#alpha-menu.alpha.selected(href="/") Introduction
  li
    a#beta-menu.beta(href="/intro.html") Getting started
  li
    a#gamma-menu.gamma(href="/api.html") 
      | API reference 
      sup
        span.label.label-warning preview