a(href="http://telepat.io" title="Telepat Real-Time Backend")
  .telepat-logo(data-height="70" data-stroke-color="#000000")
script(type="text/javascript" src="http://telepat.io/js/telepat-logo.js")

ul.sidebar-nav.first
  li
    a#alpha-menu.alpha(href="/") Introduction
  li
    a#beta-menu.beta(href="/intro.html") Getting Started
  li
    a#gamma-menu.gamma(href="/roadmap.html") Roadmap
  li
    a#delta-menu.delta(href="/api.html") 
      | API Reference 
      //span.label.label-warning(style="color: black") preview
  li
    a#epsilon-menu.epsilon(href="/js-sdk.html") JS Client Reference
  li
    a#zeta-menu.zeta(href="/android-sdk.html") Android Client Reference

  div#github-fork-badge
    | Improve the docs
    iframe(src="https://ghbtns.com/github-btn.html?user=telepat-io&repo=telepat-io.github.io&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px")