extends layouts/_default
block content
  .container-fluid(style="margin:0px;padding:0px;")
    iframe#iframe(src="http://docs.telepat.io/telepat-android-sdk/index.html" style="width: 100%" frameborder=0 onload="this.width=screen.width-270;this.height=screen.height-100;")
        
        
block scripts
  script(src="scripts/android-sdk.js")
