.container-fluid
  .row
    .col-lg-3
      ul.sidebar-nav.second
        li
          a.alpha(href="/getting-started.html") Getting started with Telepat
        li
          a.beta(href="/data-fundamentals.html") Data fundamentals
        li
          a.gamma(href="/installation.html") Telepat install guide
        li
          a.delta(href="/api.html") The Telepat API
        li
          a.yotta.active(href="/cli.html") The Telepat CLI              
          ul
            li
              a.yotta(href="#cli-basics") CLI basics
            li
              a.yotta(href="#available-commands") Available commands
        li
          a.epsilon(href="/user-management.html") User management
        li
          a.zeta(href="/js-tutorial.html") App tutorial

    #main-content.col-lg-9
      <!-- inject:content:md -->
      <!-- endinject -->
