.container-fluid
  .row
    .col-lg-3
      ul.sidebar-nav.second
        li
          a.alpha(href="/getting-started.html") Getting started with Telepat
        li.border-top
          span Developing apps using Telepat
        li.small-margin
          a.beta(href="/data-fundamentals.html") Data fundamentals
        li
          a.gamma(href="/user-management.html") User management
        li
          a.delta(href="/js-tutorial.html") App tutorial
        li.border-top
          span Telepat Cloud
        li.small-margin
          a.epsilon.active(href="/cloud-dashboard.html") Using the cloud dashboard
          ul
            li
              a.delta(href="#registration-and-login") Registering and logging in
            li
              a.delta(href="#app-management") Creating and managing apps
            li
              a.delta(href="#editing-schema") Editing the schema
            li
              a.delta(href="#working-with-objects") Working with objects
            li
              a.delta(href="#managing-users") Managing users
            li
              a.delta(href="#application-settings") Application settings
        li.border-top
          span Telepat Open Source
        li.small-margin
          a.zeta(href="/installation.html") Telepat install guide
        li
          a.eta(href="/working-with-telepat.html") Working with Telepat
        li
          a.theta(href="/cli.html") The Telepat CLI

    #main-content.col-lg-9
      <!-- inject:content:md -->
      <!-- endinject -->
