.container-fluid
  .row
    .col-lg-3
      ul.sidebar-nav.second
        li
          a.alpha(href="/getting-started.html") Getting started with Telepat
        li
          a.beta.active(href="#telepat-data-fundamentals") Data fundamentals
          ul
            li
              a.beta(href="#applications") Applications
            li
              a.beta(href="#schema") Schema
            li
              a.beta.padded-left(href="#models") Models
            li
              a.beta.padded-left(href="#properties") Properties
            li
              a.beta.padded-left(href="#relationships") Relationships
            li
              a.beta.padded-left(href="#permissions") Permissions
            li
              a.beta(href="#objects") Objects
            li
              a.beta(href="#collections") Collections
            li
              a.beta(href="#users") Users
            li
              a.beta(href="#subscribing-to-data") Subscriptions
            li
              a.beta.padded-left(href="#channels") Channels
            li
              a.beta.padded-left(href="#filters") Filters
            li
              a.beta.padded-left(href="#sorting") Sorting
            li
              a.beta.padded-left(href="#pagination") Pagination

        li
          a.gamma(href="/installation.html") Telepat install guide
        li
          a.delta(href="/working-with-telepat.html") Working with Telepat
        li
          a.epsilon(href="/cli.html") The Telepat CLI
        li
          a.zeta(href="/user-management.html") User management
        li
          a.eta(href="/js-tutorial.html") App tutorial

    #main-content.col-lg-9
      <!-- inject:content:md -->
      <!-- endinject -->
