.container-fluid
  .row
    .col-md-3
      ul.sidebar-nav.second
        li
          a.alpha(href="#introduction") Introduction
          ul
            li
              a.alpha(href="#open-source") Open source
            li
              a.alpha(href="#api-platform") API platform
            li
              a.alpha(href="#real-time") Real time
            li
              a.alpha(href="#flexible-deployment") Flexible deployment
            li
              a.alpha(href="#simple-scaling") Simple scaling
        li
          a.beta(href="#goals") Goals
        li
          a.gamma(href="#information-design") Information design
        li
          a.delta(href="#architecture") Architecture
          ul
            li
              a.delta(href="#the-api-endpoint") The API endpoint
            li
              a.delta(href="#the-data-messaging-queue") The messaging queue
            li
              a.delta(href="#data-processing-services") Data processing services
            li
              a.delta(href="#the-persistence-service") The persistence service
            li
              a.delta(href="#the-synchronization-service") The synchronization service
        li
          a.epsilon(href="#use-cases") Use cases
        li
          a.zeta(href="#comparison") Comparison
    #main-content.col-md-9
      <!-- inject:content:md -->
      <!-- endinject -->
