.container-fluid
  .row
    .col-lg-3
      ul.sidebar-nav.second
        li
          a.alpha(href="/getting-started.html") Getting started with Telepat
        li.border-top
          span Developing apps using Telepat
        li.small-margin
          a.beta(href="/data-fundamentals.html") Data fundamentals
        li
          a.gamma(href="/user-management.html") User management
        li
          a.delta(href="/js-tutorial.html") App tutorial
        li.border-top
          span Telepat Cloud
        li.small-margin
          a.epsilon(href="/cloud-dashboard.html") Using the cloud dashboard
        li.border-top
          span Telepat Open Source
        li.small-margin
          a.zeta.active(href="/installation.html") Telepat install guide
          ul
            li
              a.epsilon(href="#repositories-guide") Repositories
            li
              a.epsilon(href="#launching-dependencies") Dependencies
            li
              a.epsilon(href="#install-with-docker") Booting up with Docker
            li
              a.epsilon(href="#install-from-github") Get from GitHub
            li
              a.epsilon(href="#configuration") Configuration
            li
              a.epsilon(href="#creating-an-app") Creating an app
            li
              a.epsilon(href="#a-word-on-stability") Status
        li
          a.eta(href="/working-with-telepat.html") Working with Telepat
        li
          a.theta(href="/cli.html") The Telepat CLI


    #main-content.col-lg-9
      <!-- inject:content:md -->
      <!-- endinject -->
