extends layouts/_default
block content
  .container-fluid
    .row
      .col-lg-3
        ul.sidebar-nav.second
          li
            a.alpha(href="#installation") Installation
            ul
              li
                a.alpha(href="#installation-repositories") Repositories
              li
                a.alpha(href="#installation-dependencies") Dependencies
              li
                a.alpha(href="#installation-configuration") Configuration
              li
                a.alpha(href="#installation-docker") Booting up with Docker
              li
                a.alpha(href="#installation-github") Get from GitHub
          li
            a.beta(href="#creating-an-app") Creating an app
          li
            a.gamma(href="#js-example") Connecting the JS client
          li
            a.delta(href="#status") Status
      #main-content.col-lg-9
        h1.section#installation Getting started with Telepat
        
        h3.section#installation-repositories Repositories guide
        ul
          li
            strong
              a(href='https://github.com/telepat-io/telepat-models' target='_blank') Telepat models
            p The Telepat models library holds core functionality, and exposes a method API that other components (like the endpoint, and the services) can use to interact with the system. Unless developing the core or working on additional services, you sholdn't need to work with this library directly.
            p
              em Available on npm as 'telepat-models'.
          li
            strong
              a(href='https://github.com/telepat-io/telepat-api' target='_blank') Telepat API
            p Built on top of 
              a(href='http://expressjs.com/' target='_blank') Express
              | , the API provides web endpoints that allow interacting with Telepat from web and mobile applications. This is a required part of the Telepat stack.
            p
              em Available on npm as 'telepat-api'.
          li
            strong
              a(href='https://github.com/telepat-io/telepat-worker' target='_blank') Telepat services
            p This repo is a container for all the services that come pre-packaged with Telepat:
            ul
              li The aggregation service, that actively monitors data changes and generates patches;
              li The persistence service, that stores updates in the datastore and sends them off to synchronization;
              li The synchronization services, handling transport for individual platforms.
            p The aggregation and persistence services are required parts of the Telepat stack. If no synchronization service is started, Telepat will act like a traditional, non-real-time API platform and simply deliver data snapshots on-demand.
            p
              em Available on npm as 'telepat-worker'.
          li
            strong
              a(href='https://github.com/telepat-io/telepat-cli' target='_blank') Telepat CLI
            p A command-line interface that helps with configuring a Telepat instance and managing applications.
            p
              em Available on npm as 'telepat-cli'.
          li
            strong
              a(href='https://github.com/telepat-io/telepat-docker-compose-files') Telepat Docker files
            p A set of Docker Compose files for accelerating the deployment of Telepat as well as its dependencies.
          li
            strong Telepat clients
            p Native clients are available for multiple platforms:
            ul
              li
                a(href='https://github.com/telepat-io/telepat-js') Javascript client
                | , available on npm and bower as 'telepat-js'
              li
                a(href='https://github.com/telepat-io/telepat-android-sdk') Android client
                | , available as a Maven dependency
              li
                a(href='https://github.com/telepat-io/telepat-ios-sdk') iOS client
                | , available on CocoaPods as 'Telepat'

        h3.section#installation-dependencies Launching dependencies
        p As of 0.2.8, Telepat requires 3 external dependencies:
        ul
          li A messaging broker. Adapters are provided out of the box for 
            a(href='https://www.rabbitmq.com/' target='_blank') RabbitMQ
            |  and 
            a(href='http://kafka.apache.org/' target='_blank') Kafka
            | .
          li A JSON datastore. An adapter for 
            a(href='https://www.elastic.co/' target='_blank') Elasticsearch
            |  is provided.
          li A 
            a(href='http://redis.io/' target='_blank') Redis
            |  instance to hold Telepat state and configuration data.
        p
          | You can find installation instructions for all components on their respective website.
        p
          | Alternatively, we provide Docker Compose files to accelerate deployment. The recipes are separated in two components, shared dependencies and the actual Telepat software. Once you have 
          a(href='https://docs.docker.com/installation/') docker
          |  and 
          a(href='https://docs.docker.com/compose/install/') docker-compose
          |  installed on your machine, here are the steps to get dependencies running:
        pre git clone https://github.com/telepat-io/telepat-docker-compose-files
          | cd telepat-docker-compose-files/shared
          | sudo docker-compose up
        p
          | This will start up all the infrastructure components. 
        h3.section#installation-configuration Configuration
        p Telepat needs to create an Elasticsearch index and a series of mappings next. To help you to this, as well as other management tasks, there's a npm package that you can install:
        pre
          | npm install telepat-cli
          | telepat set elasticsearch_host ES_HOST // Run these 2 if Docker is not running on localhost
          | telepat set elasticsearch_port ES_PORT // Mac or Windows, for example
          | telepat configure elasticsearch
        p The default hostname is locahost, and the default port is 9200. If running via docker-machine, you can get the host ip by running `docker-machine ip default`.

        h3.section#installation-docker Boot up with Docker
        p  Next, you need to launch the Telepat API and all the other services:
        pre cd telepat-docker-compose-files/telepat
          | sudo docker-compose up
        p
          | Right now everything should be up and running. The API instance is available on the same IP as your docker machine.
        p
          | The default ports are 3000 for the API and 80 for the websocket service.
        h3.section#installation-github Get from GitHub
        p The Telepat backend stack is made up of two components, that will each need configuration when installed from source:
        ul
          li
            | The API (
            a(href='https://github.com/telepat-io/telepat-api') https://github.com/telepat-io/telepat-api
            | ). To start this, simply run <pre>./bin/www</pre> You can also set the PORT environment variable to make the API listen on a port different than the default 3000.
          li
            | The services (
            a(href='https://github.com/telepat-io/telepat-worker') https://github.com/telepat-io/telepat-worker
            | ). To start, run <pre>node index.js -t topic_name -i worker_index</pre>
            p For built-in services, these are the commands to start up:
            ul
              li node telepat-worker/index.js -t aggregation -i 0 
              li node telepat-worker/index.js -t write -i 0 
              li node telepat-worker/index.js -t android_transport -i 0 
              li node telepat-worker/index.js -t ios_transport -i 0 
              li node telepat-worker/index.js -t sockets_transport -i 0 
        p To configure the components, create a 'config.json' file in the root of each directory. You can start from the 'config.example.json' template and fill in your specific parameters / remove configurations for services not in use.
        p Alternatively, you can configure Telepat using environment variables. Here are the environment vars that you can set:
          ul
            li TP_KFK_HOST: Kafka (zoekeeper) server
            li TP_KFK_PORT: Kafka (zoekeeper) server port
            li TP_KFK_CLIENT: Name for the kafka client
            li TP_REDIS_HOST: Redis database server
            li TP_REDIS_PORT: Redis server port
            li TP_MAIN_DB: Name of the main database which to use. Should be the same as the exported variable in telepat-models
            li TP_ES_HOST: Elasticsearch server 
            li TP_ES_PORT: Elasticsearch server port
            li TP_AMQP_HOST: RabbitMQ host
            li TP_AMQP_USER: RabbitMQ authentication username
            li TP_AMQP_PASSWORD: RabbitMQ authentication password

        h1.section#creating-an-app Creating an app
        p
          | After bootup, you need to create a new administration user account - Telepat CLI can help you setup your new app in no time. Here are the steps you need to take to create a new app:
          ul
            li Register a new admin:
              pre telepat add admin --email EMAIL --password PASSWORD
            li Create the app:
              pre telepat add app --name APP_NAME --apiKey API_KEY
            li Create at least one context (as a container for your objects):
              pre telepat add context --contextName CONTEXT_NAME
            li Create a schema file, and feed it into your app, so Telepat knows the types of objects you'll be working with. You need to have a schema that defines at the very least the types of objects; you can optionally also add information about object parameter names or relationships.
              pre telepat set schema --filename PATH_TO_SCHEMA_JSON --apiKey API_KEY

        h1.section#js-example Example app
        p There's a Telepat example app that you can quickly run to test out your deployment. To configure the server side part, you can run
        pre telepat add demoApp
        p This will create an admin, create an app and a context and attach the demo schema required for the app. The API key used is "testApiKey". Telepat is ready to go! You can also `telepat list apps` to get a list of all apps for the currently logged-in admin.
        p Next, let's launch a browser-based client to connect to Telepat. To do that, you need to clone the JavaScript client repository:
        pre git clone https://github.com/telepat-io/telepat-js.git
        p Then you need to install all dependencies, so run:
        pre npm install
        p Now let's configure the connection to the local instance of Telepat. Go to example/script.js and edit your connect options:
        pre
          | var connectOptions = {
          |  apiKey: 'APIKEY',
          |  appId: 'APPID',
          |  apiEndpoint: 'http://localhost:3000',
          |  socketEndpoint: 'http://localhost',
          |  timerInterval: 150
          |};
        p The apiEndpoint and socketEndpoint are probably fine if you're running Telepat locally (unless you're running in docker-machine, then you need to use the Docker IP), so you need to enter the API key and app ID you set up earlier.
        p You'll also want to enter your own Facebook application id in example/index.html - set it for web, on http://localhost:3002.
        p All you need to do next is run the example:
        pre gulp serve
        p That's it! You've successfully deployed your first Telepat instance.
        h1.section#status A word on stability
        p Telepat is beta software. Although specific versions of Telepat are stable and running production applications right now, we are still in the stage of making design and interface decisions based on trials and feedback, so please keep in mind:
        ul
          li Some functionalities implemented by the backend components may not be yet implemented in specific clients
          li API endpoints specifications might change
        p We appreciate support from the community in identifying and fixing issues, so if you run into any trouble, please open up an issue on the proper repo and we'll be quick to help out.
block scripts
  script(src="scripts/intro.js")
  script(src="scripts/menu-highlight.js")