extends layouts/_default
block content
  .text-center.padded(style="display:none")
    img.faded(src="/images/github.png" width=256 height=256)
    h1 Coming soon on Github
    form.form-inline(method="post" action="http://appscend.us2.list-manage.com/subscribe/post?u=de3298de9232b91872f2c5529&amp;id=2cf33c9443")
      div(style="position: absolute; left: -5000px;")
        input(type="text" name="b_de3298de9232b91872f2c5529_2cf33c9443" tabindex="-1" value="")
      .form-group
        input.form-control(type="email" id="header_email" name="EMAIL" placeholder="Your email address" required)
      .form-group
        button.btn.btn-default(type="submit" name="subscribe") Get notified

  .container-fluid
    .row
      .col-lg-3
        ul.sidebar-nav.second
          li
            a.alpha(href="#installation") Installation
            ul
              li
                a.alpha(href="#using-docker") Using Docker
              li
                a.alpha(href="#installation-from-source") From source
          li
            a.beta(href="#configuration") Configuration
      #main-content.col-lg-9
        h1.section#installation Getting started with Telepat
        p
          | There are two main ways you can get Telepat running on your infrastructure: using Docker containers or by cloning the source code off Github and running the NodeJS applications yourself.
        h3.section#using-docker Using Docker containers
        p
          | We provide official docker-compose recipes for running Telepat and its dependencies (Couchbase, Elasticsearch, Redis and Apache Kafka). The recipes are separated in two components, shared dependencies and the actual Telepat software. Once you have 
          a(href='https://docs.docker.com/installation/') docker
          |  and 
          a(href='https://docs.docker.com/compose/install/') docker-compose
          |  installed on your machine, here are the steps to get everything running:
        pre git clone https://github.com/telepat-io/telepat-docker-compose-files
          | cd telepat-docker-compose-files/shared
          | sudo docker-compose up
        p
          | Wait for things to boot up and when the logs stabilize, open a new terminal windows and start up the Telepat instance:
        pre cd telepat-docker-compose-files/telepat
          | sudo docker-compose up
        p
          | Right now everything should be up and running. The API instance is available on the same IP as your docker client (if you're running the Docker instance locally, it's localhost. If you're running on a Mac with boot2docker, you can find the IP by running:
        pre boot2docker ip
        p
          | The Sync API is running on port 3000 by default and the websockets endpoint runs on port 80 by default.
        h3.section#installation-from-source Installing from source
        p The Telepat backend stack is made up of two components:
        ul
          li
            | The Sync API (
            a(href='https://github.com/telepat-io/telepat-api') https://github.com/telepat-io/telepat-api
            | )
          li
            | The background workers (
            a(href='https://github.com/telepat-io/telepat-worker') https://github.com/telepat-io/telepat-worker
            | )
        p
          | Each of these repos provide usage instructions on their respective README files; generally it's a matter of setting the correct ENV variables for linking to Couchbase, Elasticsearch, Redis and Kafka and then starting the NodeJS apps.
        h1.section#initial-configuration Initial configuration
        p
          | Along with the docker-compose recipes, the telepat-docker-compose-files repo also contains a bash script that can help seed initial data to your Telepat instance (stuff like creating an admin user and an initial app). While in the root folder of the cloned repo, run these two commands:
        pre chmod +x telepat.sh
          | ./telepat.sh
        p You can then follow the on-screen instructions for running the various tasks.

block scripts
  script(src="scripts/intro.js")
  script(src="scripts/menu-highlight.js")