.container-fluid
  .row
    .col-lg-3
      ul.sidebar-nav.second
        li
          a.alpha(href="/getting-started.html") Getting started with Telepat
        li
          a.beta(href="/data-fundamentals.html") Data fundamentals
        li
          a.gamma(href="/installation.html") Telepat install guide
        li
          a.delta(href="/working-with-telepat.html") Working with Telepat
        li
          a.epsilon(href="/cli.html") The Telepat CLI
        li
          a.zeta(href="/user-management.html") User management
        li
          a.eta.active(href="/js-tutorial.html") App tutorial
          ul
            li
              a.eta(href="#the-server-components") Server components
            li
              a.eta(href="#structuring-the-data") Structuring the data
            li
              a.eta(href="#configuring-your-app") Configuring the Telepat app
            li
              a.eta(href="#installing-and-running-the-demo") Installing the demo
            li
              a.eta(href="#connecting-to-telepat") Connecting to Telepat
            li
              a.eta(href="#authentication") Authentication
            li
              a.eta(href="#subscribing-to-messages") Subscribing to messages
            li
              a.eta.padded-left(href="#users-list") Updating the user list
            li
              a.eta.padded-left(href="#typing-indicators") Typing indicators
            li
              a.eta.padded-left(href="#unread-count") The unread count
            li
              a.eta.padded-left(href="#chat-messages") Chat messages
            li
              a.eta.padded-left(href="#implementing-tasks") Tasks

    #main-content.col-lg-9
      <!-- inject:content:md -->
      <!-- endinject -->
