.container-fluid
  .row
    .col-lg-3
      ul.sidebar-nav.second
        li
          a.alpha(href="/getting-started.html") Getting started with Telepat
        li
          a.beta(href="/data-fundamentals.html") Data fundamentals
        li
          a.gamma(href="/installation.html") Telepat install guide
        li
          a.delta(href="/api.html") The Telepat API
        li
          a.epsilon(href="/user-management.html") User management
        li
          a.zeta.active(href="/js-tutorial.html") App tutorial
          ul
            li
              a.zeta(href="#the-server-components") Server components
            li
              a.zeta(href="#configuring-your-app") Configuring the Telepat app
            li
              a.zeta(href="#installing-and-running-the-demo") Installing the demo
            li
              a.zeta(href="#connecting-to-telepat") Connecting to Telepat
            li
              a.zeta(href="#authentication") Authentication

    #main-content.col-lg-9
      <!-- inject:content:md -->
      <!-- endinject -->
