.container-fluid
  .row
    .col-lg-3
      ul.sidebar-nav.second
        li
          a.alpha(href="#api") Server Components
          ul
            li
              a.alpha(href="#api-implemented") Implemented
            li
              a.alpha(href="#api-soon") Coming soon
            li
              a.alpha(href="#api-planned") Planned
            li
              a.alpha(href="#api-considered") Considered
        li
          a.beta(href="#js") JS Client
          ul
            li
              a.beta(href="#js-implemented") Implemented
            li
              a.beta(href="#js-soon") Coming soon
            li
              a.beta(href="#js-planned") Planned

    #main-content.col-lg-9
      <!-- inject:content:md -->
      <!-- endinject -->
