.container-fluid
  .row
    .col-lg-3
      ul.sidebar-nav.second
        li
          a.alpha(href="/getting-started.html") Getting started with Telepat
        li
          a.beta(href="/data-fundamentals.html") Data fundamentals
        li
          a.gamma(href="/installation.html") Telepat install guide
        li
          a.delta(href="/working-with-telepat.html") Working with Telepat
        li
          a.epsilon.active(href="/user-management.html") User management
          ul
            li
              a.epsilon(href="#registration") Registration
            li
              a.epsilon(href="#authentication") Authentication
            li
              a.epsilon(href="#forgot-password") Forgot password
        li
          a.zeta(href="/js-tutorial.html") App tutorial

    #main-content.col-lg-9
      <!-- inject:content:md -->
      <!-- endinject -->
