.container-fluid
  .row
    .col-lg-3
      ul.sidebar-nav.second
        li
          a.alpha(href="/getting-started.html") Getting started with Telepat
        li.border-top
          span Developing apps using Telepat
        li.small-margin
          a.beta(href="/data-fundamentals.html") Data fundamentals
        li
          a.gamma.active(href="/user-management.html") User management
          ul
            li
              a.beta(href="#registration") Registration
            li
              a.beta(href="#authentication") Authentication
            li
              a.beta(href="#forgot-password") Forgot password
        li
          a.delta(href="/js-tutorial.html") App tutorial
        li.border-top
          span Telepat Cloud
        li.small-margin
          a.epsilon(href="/cloud-dashboard.html") Using the cloud dashboard
        li.border-top
          span Telepat Open Source
        li.small-margin
          a.zeta(href="/installation.html") Telepat install guide
        li
          a.eta(href="/working-with-telepat.html") Working with Telepat
        li
          a.theta(href="/cli.html") The Telepat CLI


    #main-content.col-lg-9
      <!-- inject:content:md -->
      <!-- endinject -->
