.container-fluid
  .row
    .col-lg-3
      ul.sidebar-nav.second
        li
          a.alpha(href="/getting-started.html") Getting started with Telepat
        li
          a.beta(href="/data-fundamentals.html") Data fundamentals
        li
          a.gamma(href="/installation.html") Telepat install guide
        li
          a.delta.active(href="/working-with-telepat.html") Working with Telepat
          ul
            li
              a.delta(href="#api-basics") API basics
            li
              a.delta(href="#authentication") Authentication
            li
              a.delta(href="#device-registration") Device registration
            li
              a.delta(href="#update-notifications") Update notifications
            li
              a.delta(href="#configuring-push-notifications") Configuring push notifications
        li
          a.epsilon(href="/cli.html") The Telepat CLI
        li
          a.zeta(href="/user-management.html") User management
        li
          a.eta(href="/js-tutorial.html") App tutorial

    #main-content.col-lg-9
      <!-- inject:content:md -->
      <!-- endinject -->
